<!-- Banner -->
<section id="banner">
	<div class="inner">
		<header>
			<div class="logoimg"></div>
			<h1>{{ page.title }}</h1>
			<p>{{ page.tag }}</p>
		</header>
		<a href="#main" class="button big scrolly">Continua</a>

		<a href="https://www.iubenda.com/privacy-policy/26043684" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
	</div>
</section>