<!-- Footer -->
<footer id="footer">
	<div class="copyright">
		<h4>I nostri Contatti:</h4>
		<ul class="icons">
			<li><a href="tel:0432992239" target="_blank" class="fa fa-phone"></a></li>
			<li><a href="mailto:info@sinergiaparrucchieri.it" target="_blank" class="fa fa-envelope-o"></a></li>
			<li><a href="https://it-it.facebook.com/sinergiaparrucchieri" target="_blank" class="fa fa-facebook"></a></li>
			<li><a href="https://m.me/sinergiaparrucchieri" target="_blank" class="fa fa-facebook-messenger"></a></li>
			<li><a href="https://api.whatsapp.com/send?phone=393894919110" target="_blank" class="fa fa-whatsapp"></a></li>
			<li><a href="https://www.instagram.com/sinergiaparrucchieri" target="_blank" class="fa fa-instagram"></a></li>
		</ul>
		<p>Via Trieste, 16 - 33050 Gonars (UD) - tel.n. 0432992239 - c.f. 02062130303 - <a href="/privacypolicy">Informativa
				Privacy</a></p>
		<p class="copyright">Designed by: <a href="mailto://develop@sinergiaparrucchieri.it"
				class="icon fa-copyright">Nardy70.</a> - Template of: <a href="https://templated.co"
				target="_blank">TEMPLATED</a>.</p>
	</div>
</footer>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script src="/assets/js/cookiebanner.js"></script>