<section class="wrapper" style="margin-top: -3em;">
	<div class="inner">
		<header class="align-center">
			<h2>Contattaci</h2>
			<p>Compila il modulo sottostante e inviaci le tue richieste, sara' nostra cura ricontattarti al più presto.</p>
		</header>
		<form method="post" action="https://formspree.io/info@sinergiaparrucchieri.it">
			<div class="row uniform 50%">
				<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Nome" required /></div>
				<div class="6u$ 12u$(xsmall)"><input type="email" name="_replyto" id="email" placeholder="Email" required /></div>
				<div class="12u$"><textarea name="message" id="message" placeholder="Messaggio" rows="4" required ></textarea></div>
				<input type="hidden" name="_subject" value="Richiesta info tramite form del sito." />
				<input type="hidden" name="_format" value="plain" />
				<input type="hidden" name="_language" value="it" />

				<div class="12u$"><input type="submit" class="button" value="Invia" /></div>
				
			</div>
		</form>
	</div>
</section>