<!-- Header -->
<header id="header" class="{{ include.content }}">
	<div class="logo"><a href="/index.html">{{ site.title }}</a></div>
	<a href="#menu">Menu</a>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
		<li><a href="/index.html">Home</a></li>
		<li><a href="/filosofia">Filosofia</a></li>
		<li><a href="/biografia">Biografia</a></li>
		<li><a href="/index.html#benessere" class="scrolly">Benessere</a></li>
		<li><a href="/index.html#ricrescita" class="scrolly">Ricrescita</a></li>
		<li><a href="/index.html#blog" class="scrolly">Blog</a></li>
		<li><a href="/#footer" class="scrolly">Contatti</a></li>
		<li><a href="/dovesiamo.html">Dove siamo</a></li>
		<!-- <li><a href="elements.html" class="scrolly">Elements</a></li> -->
	</ul>
</nav>