<!-- Main -->
<div id="main">
  <!-- Section FILOSOFIA -->
  <section id="filosofia" class="wrapper style1">
    <div class="inner">
      <!-- 2 Columns -->
      <div class="flex flex-2">
        <div class="col col1">
          <div class="image round fit">
            <a href="filosofia"><img src="images/pic01.jpg" alt="" /></a>
          </div>
        </div>
        <div class="col col2">
          <h3>La nostra filosofia</h3>
          <p>
            Molte volte gli elementi che influenzano di piu' la nostra vita sono
            le cose che ad occhio nudo non si vedono. Quando si pensa alla
            bellezza dei nostri capelli si pensa subito al nostro taglio, al
            nostro colore alle nostre forme, senza pero' pensare che questi
            elementi sono solo il risultato di un qualcosa che ci appartiene
            molto piu' in profondita'. <br />Infatti devi sapere che un bel
            colore, un bel taglio ed una bella piega sono influenzati da un
            elemento fondamentale per la riuscita di un look perfetto.
          </p>
          Di cosa stiamo parlando? Della salute dei nostri capelli:
          <ul>
            <li>
              un capello sano, passaci il termine, migliora dell’80% il
              risultato finale;
            </li>
            <li>un capello sano rende un colore piu' brillante e duraturo;</li>
            <li>
              un capello sano rende il nostro taglio di capelli piu' armonioso;
            </li>
            <li>
              un capello sano rende il nostro look estremamente semplice da
              gestire e modellare a nostro piacimento.
            </li>
          </ul>
          <a href="filosofia" class="button">Per saperne di piu'</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Section BIOGRAFIA -->
  <section id="biografia" class="wrapper style2">
    <div class="inner">
      <div class="flex flex-2">
        <div class="col col2">
          <h3>La nostra Biografia</h3>
          <p>Cugine per caso, Socie per scelta.</p>
          <p>
            Siamo Mariangela e Sabina, cugine con molte cose in comune, entrambe
            cresciute con la passione per i capelli.
          </p>
          <p>
            Abbiamo un vissuto simile ed infatti dopo la prima esperienza
            lavorativa come dipendenti durata circa nove anni per tutte e due,
            decidemmo insieme di aprire un nostro salone.
          </p>
          <p>Così nel 1998 inaugurammo "PELO MATTO".</p>
          <a href="biografia" class="button">Per saperne di piu'</a>
        </div>
        <div class="col col1 first">
          <div class="image round fit">
            <a href="biografia"><img src="images/pic02.jpg" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section BENESSERE OLD-->
  <!-- <section id="benessere" class="wrapper style1">
		<div class="inner">
			<header class="align-center">
				<h2>Il nostro sistema benessere</h2>
				<p>La bellezza dei capelli comincia da una cute in equilibrio.</p>
			</header>
			<div class="flex flex-3">
				{% for post in site.categories.Benessere %}
				<div class="col align-center margin-bottom">
					<div class="image round fit">
						<a href="{{ post.url }}"><img src="{{ post.image }}" alt="" /></a>
					</div>
					{% if post.title2 %}
					<h3>{{ post.title2 }}</h3>
					{% else %}
					<h3>{{ post.title }}</h3>
					{% endif %}
					<p>{{ post.tag }}</p>
					<a href="{{ post.url }}" class="button">Per saperne di piu'</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</section> -->

  <!-- Section BENESSERE OLD-->
  <section id="benessere" class="wrapper style1">
    <div class="inner">
      <header class="align-center">
        <h2>LE NOSTRE PROPOSTE 2022</h2>
        <p>Un anno di Bellezza e Benessere.</p>
      </header>
      <div class="flex flex-2">
        {% for post in site.categories.Benessere %}
        <div
          class="col align-center margin-bottom"
          style="padding-left: 8em; padding-right: 8em"
        >
          <div class="image round fit">
            <a href="{{ post.url }}"><img src="{{ post.image }}" alt="" /></a>
          </div>
          <a href="{{ post.url }}" class="button">Per saperne di piu'</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Section RICRESCITA -->
  <section id="ricrescita" class="wrapper style2">
    <div class="inner">
      <header class="align-center">
        <h2>Ricrescita del capello</h2>
        <p></p>
      </header>
      <div class="flex flex-2">
        {% for post in site.categories.Ricrescita %}
        <div
          class="col align-center margin-bottom"
          style="padding-right: 8em; padding-left: 8em"
        >
          <div class="image round fit">
            <a href="{{ post.url }}"><img src="{{ post.image }}" alt="" /></a>
          </div>
          {% if post.title2 %}
          <h3>{{ post.title2 }}</h3>
          {% else %}
          <h3>{{ post.title }}</h3>
          {% endif %}
          <p>{{ post.tag }}</p>
          <a href="{{ post.url }}" class="button">Per saperne di piu'</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Section BLOG -->
  <section id="blog" class="wrapper style1">
    <div class="inner">
      <header class="align-center">
        <h2>Il nostro Blog</h2>
        <p></p>
      </header>
      <div class="flex flex-3">
        {% for post in site.categories.Consigli %}
        <div
          class="col align-center margin-bottom"
          style="padding-right: 2em; padding-left: 2em"
        >
          <div class="image round fit">
            <a href="{{ post.url }}"><img src="{{ post.image }}" alt="" /></a>
          </div>
          {% if post.title2 %}
          <h3>{{ post.title2 }}</h3>
          {% else %}
          <h3>{{ post.title }}</h3>
          {% endif %}
          <p>{{ post.tag }}</p>
          <a href="{{ post.url }}" class="button">Per saperne di piu'</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
