<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<body class="subpage">

		{% include header.html %}

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper">
						<div class="inner">
							<header class="align-center">
								<h1>La nostra Biografia</h1>
								<p>Siamo Mariangela e Sabina, cugine con molte cose in comune, entrambe cresciute con la passione per i capelli.</p>
							</header>
							<div class="flex flex-2">
								<div class="col col2 align-justify">
									<h3>Cugine per caso, Socie per scelta.</h3>
									<p>Abbiamo un vissuto simile ed infatti dopo la prima esperienza lavorativa come dipendenti durata circa nove anni per tutte e due, decidemmo insieme di aprire un nostro salone.
										<br>Così nel 1998 inaugurammo "PELO MATTO".</p>
									<p>Non fu un percorso sempre facile anzi, furono anni pieni di sacrifici passati ad alternare le pesanti giornate lavorative ai corsi di formazione ed a riempire quel poco tempo libero che ci rimaneva per mettere in pratica le strategie imparate.
										<br>Frequentavamo accademie stilistiche prestigiose sia in Italia che all'estero insieme a corsi specifici sulle piu' ricercate tecniche di taglio e di colore che ci permisero di sviluppare il nostro stile inconfondibile che per anni ci ha contraddistinto.</p>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<img src="images/pic02.jpg" alt="" />
									</div>
								</div>
							</div>
							<p>Tutte queste esperienze ci hanno guidato nel corso degli anni, ma l'attenzione particolare per la cute e la continua ricerca del miglioramento dei disagi che sempre piu' frequentemente la clientela presentava, ci hanno predisposto ad uno studio della cute piu' approfondito che ci ha fatto capire l'origine delle problematiche legate ad essa.
							<br>Cosi' nel 2012, mettendo in discussione tutto quello che avevamo scelto di comunicare fino a quel momento, decidemmo di avvicinarci ad una nuova metodologia che ci permise di cominciare un cammino diverso, legato al naturale ed alle tecniche di massaggio per favorire il rilassamento e un miglior assorbimento dei trattamenti.</p>
							<p>Questo continuo desiderio di andare oltre i capelli ci porta tutt'oggi a formarci in maniera ancora piu' specifica rispetto a prima, da essere un punto di riferimento per quella clientela esigente che cerca prima di tutto la bellezza dei capelli unita al benessere della propria cute.
								<br>La continua formazione e la ricerca legata alle discipline naturali ci permettono oggi di poter affermare di essere esperte in questo campo e ci consentono di accogliere la nostra clientela in un ambiente in cui l'attenzione per la cute oltre i capelli e' messa al primo posto.</p>
							<p>Dopo un lungo percorso iniziato nel 1998 che ci ha condotto fino a qui, insieme a Barbara presenza fondamentale per il nostro salone sin dal 2000, ed a Giorgia che collabora con noi dall'inizio del 2018 impreziosendo non poco il nostro lavoro, siamo orgogliosi di presentarvi:</p>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>SINERGIA</h2>
								<p>Le prime consulenti cutanee per la bellezza del tuo cappello.</p>
							</header>
							<div class="flex flex-4">
								<div class="col align-center margin-bottom">
									<div class="image round fit">
										<a href="sabina"><img src="images/profili/sabina.jpg" alt="" />
										<p class="text-top-center">SABINA</p></a>
									</div>
									<p class="align-justify">Nel lontano 1998, dopo 9 anni di esperienza lavorativa da dipendente, decisi di iniziare una nuova avventura assieme a mia cugina Mariangela: inaugurammo cosi' "Pelo Matto" un nuovo salone di parrucchiera a Gonars (UD).</p>
									<a href="sabina" class="button">Scopri di piu'</a>
								</div>
								<div class="col align-center margin-bottom">
									<div class="image round fit">
										<a href="mariangela"><img src="images/profili/mariangela.jpg" alt="" />
										<p class="text-top-center">MARIANGELA</p></a>
									</div>
									<p class="align-justify">Grande passione per questo lavoro fin da piccola. Con una prima esperienza lavorativa di 9 anni e prendendo consapevolezza delle mie capacita', decisi di proporre a mia cugina Sabina di aprire un'attivita' insieme.</p>
									<a href="mariangela" class="button">Scopri di piu'</a>
								</div>
								<div class="col align-center margin-bottom">
									<div class="image round fit">
										<a href="barbara"><img src="images/profili/barbara.jpg" alt="" />
										<p class="text-top-center">BARBARA</p></a>
									</div>
									<p class="align-justify">Avevo circa 4 anni, quando scoprii questo mondo. Inizialmente adoravo giocare con i riccioli di mia mamma, mi piaceva pettinarli e sentire quanto fossero morbidi. Crescendo arrivo' il momento di scegliere il mio futuro.</p>
									<a href="barbara" class="button">Scopri di piu'</a>
								</div>
								<div class="col align-center margin-bottom">
									<div class="image round fit">
										<a href="giorgia"><img src="images/profili/giorgia.jpg" alt="" />
										<p class="text-top-center">GIORGIA</p></a>
									</div>
									<p class="align-justify">Avevo 3 anni, quando cominciò la voglia di creare sempre qualcosa di nuovo: frange originali su me stessa, acconciature spettacolari sulle bambole. Crescendo capii che questo lavoro avrebbe fatto parte della mia vita.</p>
									<a href="giorgia" class="button">Scopri di piu'</a>
								</div>
							</div>
						</div>
					</section>

			</div>

		{% include footer.html %}

	</body>
</html>