<!DOCTYPE HTML>
<html>
{% include head.html %}

<body>

	{% include header.html %}

	<!-- Main -->
	<div id="main">

		<!-- Section -->
		<section class="wrapper">
			<div class="inner">
				<header class="align-center">
					<h1>La nostra Biografia</h1>
					<p>Siamo Mariangela e Sabina, cugine con molte cose in comune, entrambe cresciute con la passione per i
						capelli.</p>
				</header>
				<div class="flex flex-2">
					<div class="col col2 align-justify">
						<h3>Cugine per caso, Socie per scelta.</h3>
						<p>Abbiamo un vissuto simile ed infatti dopo la prima esperienza lavorativa come dipendenti durata circa
							nove anni per tutte e due, decidemmo insieme di aprire un nostro salone.
							<br>Così nel 1998 inaugurammo "PELO MATTO".</p>
						<p>Non fu un percorso sempre facile anzi, furono anni pieni di sacrifici passati ad alternare le pesanti
							giornate lavorative ai corsi di formazione ed a riempire quel poco tempo libero che ci rimaneva per
							mettere in pratica le strategie imparate.
							<br>Frequentavamo accademie stilistiche prestigiose sia in Italia che all'estero insieme a corsi specifici
							sulle più ricercate tecniche di taglio e di colore che ci permisero di sviluppare il nostro stile
							inconfondibile che per anni ci ha contraddistinto.</p>
					</div>
					<div class="col col1 first">
						<div class="image round fit">
							<img src="images/pic02.jpg" alt="" />
						</div>
					</div>
				</div>
				<p>Tutte queste esperienze ci hanno guidato nel corso degli anni, ma l'attenzione particolare per la cute e la
					continua ricerca del miglioramento dei disagi che sempre piu' frequentemente la clientela presentava, ci hanno
					predisposto ad uno studio della cute piu' approfondito che ci ha fatto capire l'origine delle problematiche
					legate ad essa.
					<br>Cosi' nel 2012, mettendo in discussione tutto quello che avevamo scelto di comunicare fino a quel momento,
					decidemmo di avvicinarci ad una nuova metodologia che ci permise di cominciare un cammino diverso, legato al
					naturale ed alle tecniche di massaggio per favorire il rilassamento e un miglior assorbimento dei trattamenti.
				</p>
				<p>Questo continuo desiderio di andare oltre i capelli ci porta tutt'oggi a formarci in maniera ancora piu'
					specifica rispetto a prima, da essere un punto di riferimento per quella clientela esigente che cerca prima di
					tutto la bellezza dei capelli unita al benessere della propria cute.
					<br>La continua formazione e la ricerca legata alle discipline naturali ci permettono oggi di poter affermare
					di essere esperte in questo campo e ci consentono di accogliere la nostra clientela in un ambiente in cui
					l'attenzione per la cute oltre i capelli e' messa al primo posto.</p>
				<p>Dopo un lungo percorso iniziato nel 1998 che ci ha condotto fino a qui, insieme a Barbara presenza
					fondamentale per il nostro salone sin dal 2000, ed a Giorgia che collabora con noi dall'inizio del 2018
					impreziosendo non poco il nostro lavoro, siamo orgogliosi di presentarvi:</p>
			</div>
		</section>

		<!-- Section -->
		<section class="wrapper style1">
			<div class="inner">
				<header class="align-center">
					<h2>SINERGIA</h2>
					<p>Le prime consulenti cutanee per la bellezza del tuo cappello.</p>
				</header>

				<div class="flex flex-4">
					{% for post in site.categories.Profili %}
					<div class="col align-center margin-bottom">
						<div class="image round fit">
							<a href="{{ post.url }}"><img src="{{ post.image }}" alt="" /></a>
							<p class="text-top-center">{{ post.title }}</p></a>
						</div>
						<p class="align-justify">{{ post.tag }}</p>
						<a href="{{ post.url }}" class="button">Scopri di piu'</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>

	</div>

	{% include footer.html %}

</body>

</html>