<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <header id="header" class="{{ include.content }}">
    <div class="logo">
      <a href="/index.html">{{ site.title }}</a>
    </div>
  </header>

  <section class="wrapper banner4">
    <div class="inner">
      <header class="align-center">
        <h1>{{ page.title }}</h1>
      </header>
      <div class="flex flex2">
        <div class="col col2 align-justify banner41" style="color:black;">
          <h5>PRESENTAZIONE</h5>
          <p>
            Le tecniche di massaggio viso-testa sono eccellenti da abbinare ai
            trattamenti benessere, hanno un'azione benefica generale e mirata
            a ridurre lo stress e le tensioni di varia natura, nella ricerca
            dell'equilibrio totale della persona. Le manualita' sono lente e
            avvolgenti, fondamentali per offrire un tempo e uno spazio di
            accoglienza dove calmare la mente il corpo, le emozioni.
          </p>

          <h5>PROPRIETA' DEL MASSAGGIO</h5>
          <ul>
            <li>
              Favorisce la distensione dei muscoli e dei tessuti cranio -
              sacrali.
            </li>
            <li>Favorisce la circolazione del sangue e della linfa.</li>
            <li>Favorisce il riequilibrio energetico.</li>
            <li>
              Stimola la ricrescita dei capelli, rende elastico il tessuto.
            </li>
            <li>
              Rimuove le tossine in eccesso perche' facilita la diffusione e
              la distribuzione dei liquidi
            </li>
            <li>
              Stimola la secrezione di sostanze riparatrici e di difesa,
              nonche' il sistema immunitario.
            </li>
            <li>Migliora la cute, la forfora e la caduta.</li>
            <li>
              Contribuisce al buonumore generando una sensazione di benessere
              generale.
            </li>
          </ul>
        </div>

        <div class="col col2 align-justify banner42" style="color:white;">
          <h5 style="color:white;">TRATTAMENTI</h5>
          <p></p>

          <b>MASSAGGIO AYURVEDICO THREEDOSHA - 30€</b>
          <p>
            Il massaggio Ayurvedico proviene dall’antica scienza indiana.
            Questo massaggio adatto a tutti agisce sullo stress,
            riequilibrando e nutrendo la cute. Il capello riceve lucentezza e
            benessere.
          </p>

          <b>MASSAGGIO AYURVEDICO VATA - 30€</b>
          <p>
            Questo massaggio energetico agisce sullo stress energetico ed
            emozionale collegato al sistema nervoso. Ottimi risultati sulla
            cute fredda e capello tendente al secco. Previene la caduta e la
            forfora secca.
          </p>

          <b>MASSAGGIO AYURVEDICO PITTA - 30€</b>
          <p>
            Questo massaggio energetico agisce sullo stress energetico ed
            emozionale collegato all’eccessiva attività mentale e fisica.
            Ottimi risultati sulla cute arrossata e calda, migliora il capello
            tendente al delicato e sensibile. Previene la forfora e la caduta.
          </p>

          <b>MASSAGGIO AYURVEDICO KAPHA - 30€</b>
          <p>
            Questo massaggio agisce sullo stress da scarsa attività fisica.
            Ottimi risultati sulla cute intossinata e capello tendente al
            grasso. Previene la forfora grassa e la caduta. Ha un’azione
            pulente e tonificante.
          </p>

          <b>MASSAGGIO ITALIANO - 30€</b>
          <p>
            Questo massaggio veniva effettuato dai romani con ottimi
            risultati. Migliora la circolazione sanguigna del cuoio capelluto
            e il benessere del capello.
          </p>

          <b>OLEAZIONE DEI CAPELLI - SHIRODARA - 40€</b>
          <p>
            Questo trattamento è molto nutriente per la cute e il capello.
            Permette di rilassarsi mentre un filo di olio tiepido con essenze
            viene fatto colare sui capelli. Ideale su capelli molto secchi.
          </p>

          <b>STONES E CRISTALLI - 30€</b>
          <p>
            In questo trattamento, le pietre laviche tiepide, trasmettono
            calore ed energia alla cute, rilassando tutto il corpo. I
            cristalli con le loro proprietà agiscono positivamente sui chakra
            (aree energetiche), andando a riequilibrare la cute e i capelli.
          </p>

          <b>DIGITOPRESSIONE PUNTI MARMA - 30€</b>
          <p>
            In questo trattamento si usano le pressioni digitali che si basano
            su precisi punti anatomici situati lungo canali energetici della
            testa. E’ una tecnica dolce e rilassante per riequilibrare tutti i
            tipi di cute e capelli.
          </p>

          <b>RIFLESSOLOGIA VISO-TESTA - 30€</b>
          <p>
            Questa tecnica è utile per riportare la cute e il capello ad uno stato
             di equilibrio intervenendo su zone riflessogene che hanno sede nella testa,
             nel viso e nelle mani e che sono in connessione con tutte le parti del corpo.
          </p>

          <b>RIFLESSOLOGIA ALLE MANI - 15€</b>
          <p>
            Tecnica che prevede il massaggio e la pressione di specifiche aree palmari
            con l’intento di apportare beneficio alle zone riflesse quindi a tutto il
            corpo.
          </p>

          <b>LINFODRENANTE - 30€</b>
          <p>
            Questo trattamento ha lo scopo di drenare i liquidi tissutali affinché
            possa scorrere nei tessuti nuova linfa. I movimenti lenti e ritmati hanno
            effetto sedativo, rilassante, rigenerante e stimolante del sistema
            immunitario energetico.
          </p>

          <b>RITUALE RELAX - 45€</b>
          <p>
            Questo trattamento comprende un pediluvio aromatico, un massaggio
            specifico viso testa spalle e una riflessologia alle mani per un totale e
            sereno relax.
          </p>
        </div>
      </div>
    </div>
  </section>

  <footer id="footer">
    <div class="copyright">
      <h4>Prenota qui:</h4>
      <ul class="icons">
        <li><a href="tel:0432992239" target="_blank" class="fa fa-phone"></a></li>
        <li><a href="mailto:info@sinergiaparrucchieri.it" target="_blank" class="fa fa-envelope-o"></a></li>
        <li><a href="https://m.me/sinergiaparrucchieri" target="_blank" class="fa fa-facebook-messenger"></a></li>
        <li><a href="https://wa.me/393894919110" target="_blank" class="fa fa-whatsapp"></a></li>
      </ul>
      <p>Via Trieste, 16 - 33050 Gonars (UD) - tel.n. 0432992239 - c.f. 02062130303 - <a
          href="/privacypolicy">Informativa
          Privacy</a></p>
      <p class="copyright">Designed by: <a href="mailto://develop@sinergiaparrucchieri.it"
          class="icon fa-copyright">Nardy70.</a> - Template of: <a href="https://templated.co"
          target="_blank">TEMPLATED</a>.</p>
    </div>
  </footer>
</body>

</html>


MASSAGGIO AYURVEDICO VATA
Questo
massaggio
energetico
agisce sullo stress energetico ed
emozionale collegato al sistema
nervoso. Ottimi risultati sulla cute
fredda e capello tendente al secco.
Previene la caduta e la forfora
secca.
30€
MASSAGGIO AYURVEDICO PITTA
Questo
massaggio
energetico
agisce sullo stress energetico ed
emozionale collegato all’eccessiva
attività mentale e fisica. Ottimi
risultati sulla cute arrossata e calda,
migliora il capello tendente al
delicato e sensibile. Previene la
forfora e la caduta.
30€
MASSAGGIO AYURVEDICO KAPHA
Questo massaggio agisce sullo stress
da scarsa attività fisica. Ottimi
risultati sulla cute intossinata e
capello tendente al grasso. Previene
la forfora grassa e la caduta. Ha
un’azione pulente e tonificante.
30€
MASSAGGIO ITALIANO
Questo massaggio veniva effettuato
dai romani con ottimi risultati.
Migliora la circolazione sanguigna del
cuoio capelluto e il benessere del
capello.
30€
OLEAZIONE
DEI
CAPELLI
-SHIRODARA
Questo trattamento è molto nutriente
per la cute e il capello. Una dolce
colata di olio tiepido accompagnata
da un massaggio permette un
profondo
rilassamento,
cute
rigenerata e capelli luminosi.
45€