<!DOCTYPE HTML>
<html>
{% include head.html %}

<body>

	{% include header.html %}

	<section class="wrapper">
		<div class="inner">
			<header class="align-center">
				<h1>{{ page.title }}</h1>
				{% if page.tag2 %}
				<p>{{ page.tag2 }}</p>
				{% else %}
				<p>{{ page.tag }}</p>
				{% endif %}
			</header>
			<div class="flex flex2">
				<div class="col col2 align-justify">
					<img src="{{ page.image }}" class="image round right">
					{{ content }}
				</div>
			</div>
		</div>
	</section>

	{% include footer.html %}

</body>

</html>